/*
* @description:
 *@author:王奉
* @update: name(xxxx-xx-xx xx:xx)
 */
 html{
    overflow:hidden;
}
*{ touch-action: manipulation;}
body{
    padding-bottom:0;
    height:100%;
    scrollbar-width: none;
}
#game_ifr{
    width: 100%;
   height: 100vh;
   border-top-width: 0px;
   border-right-width: 0px;
   border-bottom-width: 0px;
   border-left-width: 0px;
}
.gamestartbox {
   width: 100%;
   height: 100%;
   overflow: hidden;
   position: relative;
   top: 0;
   left: 0;
   z-index: 25;
   background: #FFF;

}
.suspensionbtn{
   position:absolute;
   left:-1.5rem;
   top: 30%;
   width:5rem;
   height:5rem;
   border-radius: 50%;
   z-index:999999999999999999999999;

}
.suspensionbtn img{
   width:65%;
   border-radius: 50%;
}
.pop,.giftpop,.giftdetailspop,.servicepop,.couponpop,.newspop,.newsdetailpop,.paypop,.payscanpop,.realnamepop2{
   width:100%;
   height:100%;
   position: fixed;
   top: 0;
   left: 0;
   background-color: rgba(0, 0, 0,0.3);
   display:none;
   z-index:99;
}
.pop {
   width:auto;
}
.pop1{
   width: 100% !important;
}
.giftpop{
   z-index:100;
}
.giftdetailspop{
   z-index:101;
}
.servicepop{
   z-index:102;

}
.couponpop{
   z-index:103;


}
.newspop{

   z-index:100;
}
.paypop{

}
.payscanpop{
   z-index:101;

}
.newsdetailpop{
   z-index:101;

}
.realnamepop {
   width: 100%;
   height: 100%;
   position: fixed;
   top: 0;
   z-index: 999;
   display:none;
   left:0;
   background-color: rgba(0, 0, 0,0.3);
}
.realnamepop .realnamepop-con{
   /* margin-left: -13.5rem; */
   min-height: 0%!important;
}

.needPayDialog {
   /* height: 60%!important; */
}
.popinfo-con,.giftpop-con,.giftdetailspop-con,.servicepop-con,.couponpop-con,.newspop-con,.newsdetailpop-con,.paypop-con,.realnamepop-con{
   background:#fff;
   box-shadow:0px 0px 12px 0px rgba(86,157,236,0.2);
   border-radius:0.6rem;
   /*padding:0.65rem 0.85rem;*/
   padding: 0.65rem 0.85rem 1.6rem 0.85rem;
   width:27rem;
   /* height:20rem; */
   position:absolute;
   left:50%;
   top:50%;
   /*height:50%;*/
   /* margin:0 0 0 -14.5rem;
   transform: translateY(-50%); */
   transform: translate(-50%, -50%);
   overflow: auto;
   -webkit-overflow-scrolling:touch;
   overflow-scrolling:touch;
   /*min-height:60%;*/
}
.newsdetailpop-con{
   overflow-y:hidden;
}
.popinfo-con{
   height:auto;
   width: 27.27rem;
   top:45%;
   min-height:20%;
   padding:0.55rem 0.85rem;
}
.popinfo-top{
   width:100%;
   border-bottom:1px solid #DEE2E5;
   padding-bottom:1.2rem;
   margin-bottom:1rem;
   height: auto;
   overflow: hidden;
   margin-top: 0.55rem;

}
.pop.popinfo.levelInfoPop {
   z-index: 104!important;
}
.pop.backGroundChange,.giftpop.backGroundChange,.giftdetailspop.backGroundChange,.servicepop.backGroundChange,.couponpop.backGroundChange,.newspop.backGroundChange {
   background-color: transparent!important;
}


.newsdetailpop-con img{
   max-width:100%!important;
   display: block;
   margin:0 auto;
}
.my-pic{
   width: 4.2rem;
   height: 4.2rem;
   border-radius: 50%;
   position: relative;
   display:block;
   margin-right:1.1rem;
}
.my-pic img{
   width: 4.2rem;
   height: 4.2rem;
   border-radius: 50%;
  display: block;
}
.vip{
   color: #fff;
   display: block;
   position: absolute;
   right: -0.3rem;
   top: 2.8rem;
   width: 2rem;
   height: 1.6rem;
   background: url(../images/vip_icon.png) no-repeat;
   background-size: auto;
   background-size: 100% 100%;
   line-height: 1.4rem;
   text-align: center;
   font-size: 12px;
}
.vip-disabled{
   filter: grayscale(100%);
   -webkit-filter: grayscale(100%);
   -moz-filter: grayscale(100%);
   -ms-filter: grayscale(100%);
   -o-filter: grayscale(100%);
   filter: progid:DXImageTransform.Microsoft.BasicImage(grayscale=1);
}
.user-nickname{
   color:#222;
   font-size:1.2rem;
   font-weight:bold;
   line-height: 2.4rem;
}
.btn-change,.btn-waprenturn{
   font-size:1rem;
   color:#999;
   line-height: 2.4rem;
   margin:0 0 0 0.5rem;
}
.btn-waprenturn{
   display:none;
   margin: 0 0 0 1.5rem;
}
#logOutGameBtn {
   font-size:1rem;
   color:#999;
   line-height: 2.4rem;
   margin:0 0 0 0.5rem;
}
.currency{
   font-size:1rem;
   color:#999;
   margin-right:1.3rem;
}
.currency:last-child{
   margin-right:0;
}
.popinfo-menu{
   width:20%;
   text-align:center;
   margin-bottom: 0.5rem;
}
.popinfo-menu-img{
   width:2.1rem;
   height:2.1rem;
}
.popinfo-menu-text{
   color:#222;
   font-size:1rem;
   margin-top: 0.4rem;
}
.btn-close{
   width: 13px;
   height: 12px;
   position:absolute;
   right: 1rem;
   top: 1.1rem;
   z-index: 999;
   cursor:pointer;
   }
.arrow-code{
   width:24px;
   height:57px;
   background:#018FFF;
   text-align:center;
   position:absolute;
   right:0;
   top: 48%;
   margin-top: 3px;
   display:none;
   border-radius:5px 0px 0px 5px;


}
.arrow-code img,.develop-arrow-code img{
   margin-top: 19px;

}
.develop{
   position:absolute;
   right:0;
   top:40%;
   display:none;
}
.develop-arrow-code{
   width:24px;
   height:57px;
   background:#018FFF;
   text-align:center;
   margin-top:149px;
   border-radius: 5px 0px 0px 5px;

}
.develop-code{
   width:146px;
   height:355px;
   background:#018FFF;
   border-radius:5px;
   text-align:center;
   color:#fff;

}
.divideLine {
   width: 113px;
   height: 1px;
   background: #34A6FF;
   margin: 12px 0;
   margin: auto;
   margin-top: 12px;
   margin-bottom: 12px;
}

.develop-code-title{
   font-size:20px;
   font-weight:bold;
   line-height:30px;
   margin:5px 0;

}
.develop-code-img{
   width:113px;
   height:113px;
}
.game-code-img{
   width:113px;
   height:113px;
}
.develop-code-text{
   font-size:14px;
   font-weight:bold;
   margin:5px 0 0 0;
}
/* 礼包弹窗 */


.giftpop-title,.newspop-title{
   color:#222;
   border-bottom:1px solid #E4E4E4;
   text-align:center;
   font-size: 1.4rem;
   padding-bottom: 0.65rem;
   height: auto;
   overflow: hidden;
}
.no-coupon{
   text-align:center;
    margin:9rem 0 2rem;
}
.no-coupon .no-giftdata{
    margin:0;
}
.no-giftdata{
   text-align:center;
   color: #999;
   margin:10rem 0 2rem;
}
.pop-icon-return{
   width:13px;
   height:15px;
   position:absolute;
   left: 0.5rem;
   top: 1.1rem;
   z-index: 999;
   cursor: pointer;
}
.game-bag-con-item{
   width:100%;
   height:4.6rem;
   overflow:hidden;
   margin:0 auto;
   border-bottom:1px solid #E4E4E4;
   display: flex;
   align-items: center;
}
.game-bag-con-item:last-child{
   border-bottom:none;
}
/* 礼包详情弹窗 */
.js_detail{
   display:block;
   width:85%;
}
.game-bag-detail {
   width: 100%;
}
.game-bag-detail-title{
   color:#222;
   font-weight:bold;
   font-size:1.2rem;
   text-overflow: ellipsis;
   overflow: hidden;
   white-space: nowrap;
   margin:0.55rem 0 0 0;
}
.game-bag-lingqu-btn{
   background-color: #018FFF;
   color: #ffffff;
   width: 3.8rem;
   height: 2rem;
   box-shadow: none;
   text-align: center;
   border-radius: 5px;
   font-size: 1.2rem;
   position: relative;

}
.game-bag-con-item .disabled{
    background-color: #ccc;
}
.game-bag-lingqu-btn .disabled {
   width: 5.5rem;
   height: 2.5rem;
   display: block;
   margin: -1px;
   line-height: 2.5rem;
   background-color: #ccc;
   color: #ffffff;
   width: 100%;
   box-shadow: none;
   border: 1px solid #ccc;
   text-align: center;
   border-radius: 5px;
   padding: 0;
   position: absolute;
   top: 0;
   left: 0;
   margin: -1px;
}
.game-bag-detail-con{
   color:#999;
   font-size:1.1rem;
   overflow: hidden;
   text-overflow: ellipsis;
   white-space: nowrap;

}
.gift-name{
   font-size:1.2rem;
   color:#222;
   font-weight:bold;
   margin:0.55rem 0 0.5rem 3%;

}
.gift-detail{
   color:#999;
   font-size:1.1rem;
   font-weight:500;
   font-size:1.1rem;
   width:94%;
   margin:0.5rem 0 0.5rem 3%;
   line-height:1.7rem;

}
.giftbox{
   position: relative;
   background:#f2f2f2;
   border-radius:4px;
   width:94%;
   margin:0 auto 1rem;
   line-height:2.5rem;
   height:2.5rem;
}
.giftbox——receive{
   background:#fff;
}

.giftbox-prefix{
   margin:0 0 0 0.5rem;
   color:#999;
   font-size: 13px;
}
.giftbox-input{
   width:60%;
   background:#f2f2f2;
   color:#666;
   margin:0 1rem;
   overflow: hidden;
   text-overflow: ellipsis;
   white-space: nowrap;
   border:none;
}
.giftbox-modals-btn{
   background:#018FFF;
   color:#fff;
   border-radius:0px 4px 4px 0px;
   line-height:2.5rem;
   height:2.5rem;
   float: right;
   padding:0 0.5rem;
}
.giftbox——receive{
   background:#fff;
}
.giftbox——receive-btn{
   display: block;
   background: #018FFF;
   padding: 0 2rem;
   height: 2.5rem;
   margin: 1rem auto 0.5rem;
   color: #fff;
   border-radius: 4px;
}
.giftbox—receive .disabled{
   background:#ccc;
}
.gift-item-title{
   color:#222;
   font-size:1.2rem;
   margin:0.55rem 0 0 3%;


}
.gift-item-time{
   color:#949494;
   margin:0.5rem 0 0 3%;
}
/* 客服弹窗 */
.service-box{
   height:auto;
   overflow:hidden;
   margin:0.85rem auto 0;
}
.service-icon{
   width:2rem;
   height:2rem;
   margin-right:0.5rem;
}
.service-text{
   color:#222;
   font-size:1.2rem;
   line-height:2rem;

}
.service-btn{
   width:4.1rem;
   height:2rem;
   line-height:2rem;
   background:rgba(1,143,255,1);
   border-radius:4px;
   text-align:center;
   color:#fff;
   margin-right:0px;


}
.service-btn:hover{
   color:#fff;
}
.service-code-img{
   display:block;
   width:7.5rem;
   height:7.5rem;
   margin:1rem auto 0;
}
.service-code-text{
   color:#222;
   text-align:center;
   font-size:1.2rem;
}
.service-code-subtext{
   color:#999;
   font-size:1rem;
   text-align:center;
}
/* 代金券弹窗 */
.couponpop-title{
   color: #222;
   border-bottom: 1px solid #E4E4E4;
   text-align: center;
   font-size: 1.4rem;
   padding-bottom: 0.65rem;
   height:auto;
   overflow:hidden;
}
.couponpop-menu{
   width:45%;
   text-align:center;
   position:relative;
}
.coupon-game-list{
   width:100%;
   margin:0 auto;
   display:none;
}
.coupon-game-item{
   width:49%;
   height:9rem;
   background:url(../images/bg_yhq.png) no-repeat;
   background-size:100% 100%;
   text-align:center;
   margin-top:1rem;
   position:relative;
   box-shadow: 0px 0px 5px 0px rgba(86,157,236,0.2);
}
.coupon-game-item:nth-child(2n){
   margin-left:2%;
}
.coupon-date{
   color:#fff;
   line-height: 2rem;
   font-size: 1.1rem;

}
.coupon-box{
   width:100%;
   height:auto;
   overflow:hidden;
   position:relative;
}
.coupon-num{
   color:#FFF;
   margin-left: 15%;
   text-align: left;
   margin:0.8rem 10% 0;
}
.coupon-money{
   margin:0;
   font-size:2rem;
   font-weight:bold;
   line-height:1.8rem

}
.coupon-money span{
   font-size:1rem;
}
.coupon-use-condition{
   font-size:12px;
   margin:0;
}
.coupon-btn{
   display: block;
   width:5rem;
   height:2rem;
   background:#fff;
   border-radius:1rem;
   color:#FF7734;
   font-size:1rem;
   line-height: 2rem;
   position: absolute;
   right: 0.5rem;
   top: 0.8rem;
}
.coupon-scope{
   width:90%;
   color:#999;
   overflow: hidden;
   text-overflow: ellipsis;
   white-space: nowrap;
   margin:0.5rem 0 0 6%;
   font-size: 1rem;
   text-align: left;
}
.coupon-select{
   width:3rem;
   position:absolute;
   right:0;
   bottom: 2rem;
}
.couponpop-active{
   font-weight:bold;
}
.couponpop-active:after{
 position: absolute;
   bottom: -0.65rem;
   left: 30%;
   width: 40%;
   height: 2px;
   background: #018FFF;
   content: '';
}
.coupon-number{
   color: #fff;
   position: absolute;
   right: 0.5rem;
   bottom: 0.1rem;
   font-size: 12px;
   width: 5rem;
   text-align: center;
}

.no-coupon{
   display:none;
   text-align:center;
   color:#999;
   font-weight:bold;
   margin:2rem 0 0 0;
   font-size:1.1rem;
}
.no-coupon img{
   width:5rem;
   margin-bottom:1rem;
}
/* 新闻资讯弹窗 */
.newspop-title-con{
   width:75%;
   margin:0 auto;
}
.newspop-menu{
   width:33.3%;
   text-align:center;
   color:#222;
   font-size:1.4rem;
   position:relative;
   cursor:pointer;
}
.newspop-active{
   font-weight:bold;
}
.newspop-active:after{
   position: absolute;
   bottom: -0.65rem;
   left: 28%;
   width: 50%;
   height: 2px;
   background: #018FFF;
   content: '';
}
.news-arc-list{
   display:none;
}
.news-list{
   display:block;
   width:96%;
   margin:0 auto;
   border-bottom:1px solid #E4E4E4;
   height: auto;
   overflow: hidden;
   color:#222;
   font-size:1.2rem;
   line-height:3rem;
}
.news-list  .newspop-arctitle{
   width:80%;
   overflow: hidden;
   text-overflow: ellipsis;
   white-space: nowrap;

}
.newspop-time{
   color:#999;
}
.coupon-game-show,.news-arc-show{
   display:block;
}
/* 支付弹窗 */
.paypop-title{
   color:#999;
   text-align:center;
   font-size:1.2rem;
   padding-bottom:0.3rem;
   height: auto;
   overflow: hidden;
}
.paypop-money{
   color:#018FFF;
   font-weight:bold;
   text-align:center;
   font-size:2.2rem;
   margin:0 0 0.5rem;
}
.paypop-money span{
   font-weight:normal;
   font-size:1.4rem;

}
.paypop-box{
   width:96%;
   margin:0 auto;
   background:#F5F5F5;
   border-radius:0.8rem;
   height:auto;
   overflow:hidden;
}
.paypop-infobox{
   width:100%;
   height:auto;
   overflow:hidden;
   margin:0.5rem 1.1rem ;
   color:#666;
   font-size:1.1rem;
}
.paypop-name{
   width:30%;

}
.paypop-orgcolor{
   color:#FF3300;
}
.paypop-coupon{
   margin-left:2rem;
}
.paypop-way-title{
   color:#999;
   font-size:1.2rem;
   text-align:center;
   margin:0.68rem 0;
}
.paypop-way-box{
  width:20%;
  border:1px solid rgba(217,217,217,1);
  border-radius:8px;
  text-align:center;
  padding-bottom:0.3rem;
  margin: 0 4% 0 1%;
  position:relative;
}

.paypop-way-box-select {
   position: absolute;
   width: 40%;
   right: -15%;
   bottom: -10%;
   display:none;
}
.paypop-way-box .paypop-way-box-select {
   display:none;
}
.paypop-way-box-show .paypop-way-box-select {
   display:block;
}
.paypop-way-box:last-child{
   margin-right:0;
}
.paypop-way-box-icon{
   width:60%;
   margin:0.3rem 0;

}
.paypop-way-box-title{
   font-size:1rem;
   color:#333;

}
.paypop-way-btn{
   text-align: center;
   width: 90%;
   margin: 1rem auto 0;
   background: #18B1EA;
   color: #fff;
   font-size: 1.2rem;
   line-height: 3rem;
   border-radius: 0.5rem;
}
/* pc扫一扫支付 */
.payscanpop-con{
   background:#fff;
   box-shadow:0px 0px 12px 0px rgba(86,157,236,0.2);
   border-radius:0.6rem;
   padding:1.1rem;
   width:18rem;
   position:absolute;
   left:50%;
   top:50%;
   margin:0 0 0 -10.1rem;
   transform: translateY(-50%);
}
.payscanpop-title{
   color:#999;
   font-weight:bold;
   font-size:1.2rem;
   text-overflow: ellipsis;
   overflow: hidden;
   white-space: nowrap;
   text-align: center;
}
.paypop-code{
   border-radius:5px;
   width: 10.8rem;
   height: 10.8rem;
   margin: 0 auto;
   display: block;
}
.scan-icon{
   display: block;
   float: left;
   margin: 1.2rem 0.5rem 0 3.2rem;
}
.scan-text{
   color:#9A9A9A;
   font-size: 1rem;
   margin-top:0.8rem;
}
/* 文章详情弹窗 */
.news-title{
   color:#222;
   text-align:center;
   font-weight:bold;
   margin:1rem 0;
   font-size:1.35rem!important;
   line-height:1.75rem;
   overflow: hidden;
   text-overflow: ellipsis;
   white-space: nowrap;
}


.news-time{
   color:#666;
   font-size:1.2rem;
   text-align:center;
}
.newsdetail-con img{
   max-width:100%;
   margin:0 auto;
   display:block;
}
.news-main{
   max-height:20rem;
   overflow-y:auto;
   font-size:1.35rem!important;
   padding-bottom:1rem;
}
.news-main> *{
   font-size:1.35rem!important;
}
/* 实名认证弹窗 */
.realnamepop-title{
   color: #222;
   height: 1rem;
}


.game_bag_down_hx{
   width: 100%;
   height: 1px;
   background-color: #F2F2F2;
}
.realnamepop input, .realnamepop input:focus{
   border: none !important;
   box-shadow: none !important;
}
.ready_name_con input{
   width: 72%!important;
   height: 3rem!important;
   background-color: #F2F2F2!important;
   border-radius: 5px!important;
   margin-left: 8%;
   margin-top:1.78rem;
   margin-bottom: 0rem!important;
   text-indent: 0.5rem;
   padding-right: 10%;
}
.realnamepop input::placeholder{
   font-size: 14px;
}
.tj_btn{
   width: 93%;
   border-radius: 3.5px;
   color: #ffffff;
   text-align: center;
   height: 3.45rem;
   margin-left: 3.5%;
   background-color: #018FFF;
   margin-top: 1rem;
   display: flex;
   align-items: center;
   justify-content: center;
   margin-bottom: 3rem;
   cursor:pointer;
}
.tj_btn.can_click {
   background-color: #018FFF;
}

.tj_btn2{
   width: 93%;
   border-radius: 3.5px;
   color: #ffffff;
   text-align: center;
   height: 3.45rem;
   margin-left: 3.5%;
   background-color: #018FFF;
   margin-top: 2rem;
   display: flex;
   align-items: center;
   justify-content: center;
   margin-bottom: 3rem;
   cursor:pointer;
}
.tj_btn2.can_click {
   background-color: #018FFF;
}
.realname_page_tap{
   width: 93%;
   margin-left: 3.5%;
   margin-top: 1.18rem;
   line-height: 1.8rem;
   color: #212121;
   font-weight:500;
   font-size:1.2rem;
   padding-bottom: 1.1rem;

}


.into_userset{
   margin-top: 2.53rem;
   border-radius: 6px;
   width: 83%;
   height: 3.2rem;
   background-color: #018FFF;
   color: #ffffff;
   margin-left: 8%;
   font-size: 13px;
   letter-spacing: 1px;
   text-align: center;
}
.into_userset p{
   line-height: 3.2rem;
}
.realnamepop input::-webkit-input-placeholder{ /*WebKit browsers*/
   color: #C1C0C4;
   font-size: 12px;
}
.realnamepop input::-moz-placeholder{ /*Mozilla Firefox*/
   color: #C1C0C4;
   font-size: 12px;
}
.realnamepop input::-ms-input-placeholder{ /*Internet Explorer*/
   color: #C1C0C4;
   font-size: 12px;
}
.pr{
   width:93%;
   position:relative;
   margin:0 auto;
}
.pr input{
   width:95%;
   background:#F7F7F7;
   border-radius:3px;
   color:#000;
   height: 3.45rem;
   padding-left:2%;
   font-size:1.2rem;
}
.pr input ::-webkit-input-placeholder{
   color:#000;
}
.pr input:-moz-placeholder{
   color:#000;
}
.pr input::-moz-placeholder{
   color:#000;
}
input:-ms-input-placeholder{
   color:#000;
}
.clear_texts{
   position:absolute;
   left:83%;
   top:2.4rem;
}
.pr .del1{
   position:absolute;
   left:83%;
   top: 2.8rem;
}
.fristclear_texts{
   top:1.3rem !important;
}
.btn-return{
   display:none;
   width:62px;
   height:32px;
   line-height:32px;
   background:url(../images/btn-fanhui.png);
   position:absolute;
   left:0;
   top:10%;
   color:#fff;
   font-size:16px;
}
.backHome.btn-return {
   z-index: 105;
}
.btn-return:hover{
   color:#fff;
}
.poplayer,.poplayermsg{
   position: absolute;
   z-index: 999;
   top: 50%;
   left: 50%;
    width: 180px;
   border: 1px solid #D3D4D3;
   box-shadow: none;
   line-height: 66px;
   text-align: center;
   border-radius: 2px;
   visibility:visible;
   z-index:9999;
   background:#fff;
   margin-left:-90px;
   margin-top:-33px;
}

.poplayer .layui-layer-ico1 {
  position: absolute;
   top: 16px;
   left: 15px;
   width: 30px;
   height: 30px;
}
.poplayermsg{
   background-color: rgba(0,0,0,.6);
   color:#fff;
}
.clearfix {
   zoom: 1;
}

.clearfix:before,
.clearfix:after {
   content: ".";
   display: block;
   height: 0;
   visibility: hidden;
}

.clearfix:after {
   clear: both;
}
.popinfo-bottom{
   margin-bottom: 10px;
}
.fengeBottom {
   width: 100%;
   height: 1px;
   background: #DEE2E5;
   margin-bottom: 10px;
}
.game_like {
   display: block;
   width: 100%;
   box-sizing: border-box;
}
.game_like-title {
   margin-bottom: 10px;
   color:#222;
   font-size: 14px;
}
.like_gameBox {
   width: 46px!important;
   margin-right: 12px!important;
   background: #E5E5E5;
   border-radius: 8px;
   margin-bottom: 12px;
}
.like-picture {
   width: 46px;
   height: 46px;
   border-radius: 8px;
}
::-webkit-scrollbar{
   display:none;
}

.popinfo-con {
   -ms-overflow-style: none;
   scrollbar-width: none;
}
.logOutModal {
   display: none;
   width: 26.23rem;
   height: 24.26rem;
   border-radius:0.62rem;
   background: #fff;
   box-shadow: 0px 0px 0.62rem 0px rgba(51, 51, 51, 0.26);
   position: absolute;
   top: 50%;
   left: 52%;
   transform: translate(-50%, -50%);
   z-index: 999;
}
.modalPhotoTip {
   width: 100%;
   height: 14.75rem;
   border-radius: 0.62rem 0.62rem 0px 0px;
   background-color: #eee;
}
.modalPhotoTip img {
   width: 100%;
   height: 100%;
}
.confirmBtnFinal{
   padding: 1.54rem 0 0 4.07rem;
}
.bottomConfirmBtn{
   display: block;
   width: 18.08rem;
   height: 3.27rem;
   border-radius: 0.43rem;
   line-height: 3.27rem;
   text-align: center;
   color: #0189FF;
}
.playMoreBtn{
   background: #0189FF;
   color: #fff;
}
.playMoreBtn:hover {
   color: #fff;
}
.phoneChangeColor {
   color: #0189FF;
   background: #fff;
   line-height: 4.5rem;
}
.phonePlayMoreColor {
   background: #0189FF;
   color: #fff;
}
.phoneChangeColor:hover {
   color: #0189FF;
}
.phonePlayMoreColor:hover {
   color: #fff;
}
/* .layui-layer-hui,.layui-layer-msg,.layui-layer { */


   /* display: none; */
/* } */
/* .x-copylayer { */
   /* transform: rotate(90deg); */

   /* display: blcok; */
/* } */
@media screen and (max-width:320px) and (orientation:portrait){
.popinfo-con{
   padding:1.1rem;
   width:24rem;
   position:absolute;
   left:50%;
   top:50%;
   margin:0 0 0 -13.1rem;
   transform: translateY(-50%);
}

}
@media all and (orientation : landscape) {
    .suspensionbtn{
        width: 8%;
        height: 8%;
        max-width:65px;
        left:auto;
        right:-1.5rem;
        
    }
    .popinfo-con, .giftpop-con, .giftdetailspop-con, .servicepop-con, .couponpop-con, .newspop-con, .newsdetailpop-con, .paypop-con.needPayDialog, .realnamepop-con{
        transform: translateY(-51%) scale(0.8);
        padding: 0.5rem;
        width: 17.8rem;
        margin: 0 0 0 -8.75rem;
        height: 17rem!important;
    }
    
    /* .popinfo-con, .giftpop-con, .giftdetailspop-con, .servicepop-con, .couponpop-con, .newspop-con, .newsdetailpop-con, .paypop-con, .realnamepop-con{
        top: 50%;
        transform: translateY(-50%);
        padding: 0.4rem;
        width: 15rem;
        margin: 0 0 0 -8.75rem;
        min-height: 90%;
    } */
    .realname_page_tap{
        font-size: 0.65rem;
        line-height: 1rem;
        padding-bottom: 0.5rem;
    }
    .tj_btn {
        height:1.8rem;
        margin-top: 1.5rem;
    }
    .pr input{
        margin:0;
        padding:0 0 0 2%;
        height: 1.85rem;
         font-size:0.65rem;
    }
    .realnamepop-con{
        left: 65%;
        height: 15rem!important;
        padding: 0.2rem 0!important;
    }
    .popinfo-con {
        height: auto;
        top: 50%;
        min-height: 40%;
        padding: 0.55rem 0.85rem;
    }

   .shezhiPop .popinfo-con.landPopInfoChange {
        height: 16rem!important;
        width: 18rem;
    }
    .popinfo-con.landPopInfoChange {
        height: 14rem!important;
        width: 18rem;
    }
    .suspensionbtn img{
        width:90%!important;
    }
    
    .vip {
        width:1.5rem;
        height:1.2rem;
        line-height: 1.2rem;
        top:1.8rem;
    }
    .my-pic{
        width: 2.7rem;
        height: 2.7rem;
    }
    .my-pic img {
        width: 2.7rem;
        height: 2.7rem;
        border-radius: 50%;
        display: block;
    }
    .user-nickname{
        font-size:0.8rem;
        line-height:1.6rem;
    }
    .btn-change, .btn-waprenturn {
        font-size: 0.65rem;
        line-height:1.6rem;
    }
    #logOutGameBtn {
        font-size: 0.65rem;
        line-height:1.6rem;
    }
    #btn-shezhi {
        font-size: 0.65rem;
        line-height:1.6rem;
    }
    .popinfo-menu {
        width: 20%!important;
    }
    
    /* 设置 横屏样式 */
    .info-listAll span ,p{
      font-size: 0.65rem !important;
     
    }
    .s-line{
      height: 2rem !important;
      line-height: 2rem !important;
    }
    .s-line2{
      line-height: 1.2rem;
      margin-bottom: 0.4rem;
    }
    .qiehuan-but {

      height: 1.5rem !important;
      line-height: 1.5rem !important;
   }
   .info-listAll {
      height: 9rem !important;
   }
   .info-listAll a {
      padding: 0.23rem 0 0.23rem 0 !important;
   }
   .goto_icon{
      margin-top: 0.7rem !important;
   }
   /* 绑定手机号 */
   .Phone-input .phone-num {
      width: 10.915rem !important;
      padding: 0.5rem 0.4rem 0.5rem 0.4rem;
      font-size: 0.63rem;
      margin-bottom: 0.57rem;
  }
  .Phone-input .yzm {
   width: 6.6rem !important;
   margin-right: 0.515rem !important;
   padding: 0.4rem 0.4rem 0.5rem 0.4rem;
   margin-bottom: 0.57rem;
   float: left;
}
.Phone-form .huopqv{
   font-size: 0.68rem;
   width: 3.77rem !important;
   height: 1.78rem !important;
   line-height: 1.78rem !important;
}
.y-but-confirm,.but-confirm{
   width: 11.715rem !important;
   height: 1.715rem !important;
   line-height: 1.715rem !important;
}

 .change-con {
   width: 13.83rem !important;
   height: 12.855rem !important;
}
.left-back {
   width: 0.345rem !important;
    height: 0.655rem !important;
   }
.top-title {

   padding: 0.9rem 0 1.2rem 0 !important;}
.Phone-input {
   width: 11.715rem !important;

   margin: 0 auto;}
   .stop-use {
      margin-top: 2.53rem !important;
  }
   /* 设置修改密码 */
   .changeMima .change-con{
      width: 13.83rem;
    height: 12.855rem;
   }
   .changeMima .change-input input {
      width: 10.915rem;
     
      margin-bottom: 0.57rem;
      padding: 0.5rem 0.4rem;
  }
  .changeMima .change-input{
  
      width: 11.715rem;
      margin: 0 auto;
      /* background: powderblue; */
  
  }
  .changeMima .top-title {

   line-height: 0.27rem;
   text-align: center;
   padding: 0.785rem 0 1.2rem 0;
}
/* 悬浮球 */
.xuanfuqiuPop .xf-con{
   width:13.83rem;
    height: 6.37rem;
}
.xuanfuqiuPop .xf-title {
 
   line-height: 0.27rem;
   text-align: center;
   padding: 1.43rem 0 1.055rem 0;
}
.xuanfuqiuPop  .xf-no {
      font-size: 0.54rem;
}
.xuanfuqiuPop .xf-check img {
   width:0.545rem;
   height: 0.545rem;
}
.xuanfuqiuPop .xf-check {
   margin-bottom: 1rem;
}
.xuanfuqiuPop .xf-bottom p {
   width: 48%;
   float: left;
   height: 1.685rem;
   line-height: 1.685rem;
 
}
    
    .logOutModal {
        display: none;
        width: 16.11rem;
        height: 12.13rem;
        border-radius:0.31rem;
        background: #fff;
        box-shadow: 0px 0px 0.31rem 0px rgba(51, 51, 51, 0.26);
        position: absolute;
        top: 35%;
        left: 40%;
        transform: translate(-26%, -31%);
    }
    .modalPhotoTip {
        width: 100%;
        height: 7.37rem;
        border-radius: 0.31rem 0.31rem 0px 0px;
        background-color: #eee;
    }
    .modalPhotoTip img {
        width: 100%;
        height: 100%;
    }
    .confirmBtnFinal{
        padding: 0.77rem 0 0 1rem;
    }
    .bottomConfirmBtn{
        display: block;
        width: 14.04rem;
        height: 1.835rem;
        border-radius: 0.215rem;
        line-height: 1.835rem;
        text-align: center;
        color: #0189FF;
        font-size: .8rem;
    }
    .playMoreBtn{
        background: #0189FF;
        color: #fff;
    }
    .playMoreBtn:hover {
        color: #fff;
    }
    .phoneChangeColor {
        color: #0189FF;
        background: #fff;
        line-height: 2.25rem;
    }
    
    .phonePlayMoreColor {
        background: #0189FF;
        color: #fff;
    }
    .phoneChangeColor:hover {
        color: #0189FF;
    }
    .phonePlayMoreColor:hover {
        color: #fff;
    } 
    .popinfo-menu-img {
        width: 1.36rem;
        height:1.36rem;
    }
    .popinfo-menu-text{
        font-size:0.65rem;
    }
    .popinfo-top{
        margin-bottom: 1rem;
        padding-bottom: 0.8rem;
    }
    .currency{
         font-size: 0.65rem;
    }
    .couponpop-title{
        font-size: 0.9rem;
        padding-bottom:0.55rem;
        line-height: 1.2rem;
    }
    
    .pop-icon-return,.btn-close{
        top:0.75rem;
        
    }
    .coupon-game-item{
        height: 5.85rem;
        margin-top:0.5rem;
    }
    .coupon-date{
        line-height:1.5rem;
        font-size: 0.73rem;
    }
    .coupon-money{
        font-size: 1.3rem;
        line-height: 1.2rem;
    }
    .coupon-money span {
        font-size: 0.6rem;
    }
    .coupon-btn{
        height: 1.25rem;
        font-size: 0.7rem;
        line-height: 1.25rem;
        width: 3rem;
        top: 0.2rem;
    }
    .coupon-scope{
        margin: 0.6rem 0 0 6%;
        font-size: 0.64rem;
    }
    .newspop-menu{
        font-size: 0.9rem;
        padding-bottom: 0rem;
    }
    .no-coupon{
        
    }
    .no-giftdata{
        margin: 7rem 0 2rem;
    }
    .game-bag-detail-con{
            font-size: 0.619rem;
    }
    .game-bag-detail-title{
        font-size: 0.675rem;
        margin: 0.2rem 0 0 0;
    }
    .game-bag-lingqu-btn{
        font-size: 0.8rem;
        width: 2.4rem;
        height: 1.4rem;
    }
    .game-bag-con-item{
         height: 2.6rem;
    }
    .giftpop-title, .newspop-title{
         padding-bottom: 0.55rem;
         font-size: 1rem;
    }
    .gift-name{
        font-size: 0.8rem;
    }
    .giftbox,.giftbox-modals-btn{
        line-height: 1.6rem;
        height: 1.6rem;
    }
    .news-title,.gift-item-title{
        font-size: 0.85rem;
    }
    .newspop-active:after{
        bottom:-0.6rem;
    }
    .news-list{
        font-size: 0.8rem;
        line-height: 2rem;
    }
    .news-time{
        font-size: 0.75rem;
    }
    .service-text {
        color: #222;
        font-weight: 500;
        font-size: 0.75rem;
        line-height: 1.5rem;
    }
    .service-btn{
        width: 2.8rem;
        height: 1.7rem;
        line-height: 1.7rem;
    }
    .service-code-img{
        width:8rem;
        height:8rem;
    }
    .service-icon {
        width: 1.5rem;
        height: 1.5rem;
    }
    .service-code-text{
        font-size: 0.85rem;
    }
    .service-code-subtext{
        font-size:0.75rem;
    }
    .couponpop-active:after {
        position: absolute;
        bottom: -0.55rem;
        left: 35%;
        width: 30%;
        height: 2px;
        background: #018FFF;
        content: '';
    }
    .coupon-num{
        margin: 0.1rem 10% 0;
    }
    .paypop-title,.paypop-way-title{
        font-size: 0.8rem;
        padding-bottom: 0.2rem;
    }
    .paypop-money{
        font-size: 1.45rem;
        margin: 0 0 0.34rem;
    }
    .paypop-infobox{
        font-size: 0.71rem;
        margin: 0.32rem 1.1rem;
    }
    .paypop-way-box-title {
        font-size: 0.645rem;
    }
    .paypop-way-btn{
        font-size: 0.78rem;
        line-height: 2rem;
        margin: 0.5rem auto 0
    }
    .paypop-way-title{
        margin: 0.4rem 0;
    }
    .paypop-way-box-icon{
        margin: 0.16rem 0;
    }
    .realnamepop-title{
     
        height: 0.3rem;
    }
.jiebang .jiebang-con{
   width: 13.83rem;
   height: 12.855rem;
}
.jiebang .jiebang-con .sccess-center {
   width: 11.715rem;
   padding-top: 1.7rem;
}
.jiebang .jiebang-con .top-title {
   line-height: 0.27rem;
   padding: 0.785rem 0 1.2rem 0;
}
.jiebang .jiebang-con .j-title {

   line-height: 0.855rem;
}
.jiebang .jiebang-con .j-title2 {

   line-height: 0.855rem;
   padding: 1.545rem 0 0.83rem 0;
}
}

@media screen and (min-width:1200px){
html{
    background:linear-gradient(0deg,rgba(35,37,40,1) 0%,rgba(54,57,62,1) 100%);
    width: 100%;
    height: 100%;
   }
#game_ifr{
   width:640px;
   margin:0 auto;
}
.suspensionbtn{
   width: 6%;
   height:6%;
  max-width: 50px;
}

.popinfo-con, .giftpop-con, .giftdetailspop-con, .servicepop-con, .couponpop-con, .newspop-con, .newsdetailpop-con, .paypop-con, .realnamepop-con{
   height:305px;
   min-height: 310px;

}
.paypop-con{
   min-height: 370px;
}
.popinfo-con{
   height:auto;
   min-height:10%;
}
.popinfo-top{
   margin-top:15px;
}
.currency{
   margin-top:7px;
}
.giftpop-title, .newspop-title,.newspop-menu {

  font-size: 16px;
}
.pop-icon-return, .btn-close {
   top:13px;
}
.news-list{
   font-size:14px;
   padding: 6px 0;
}
.couponpop-menu{
   font-size:16px;
}
.coupon-btn{
   font-size:12px;
}
.coupon-game-item{
   height:8rem;
   margin-top:10px;
}
.newspop-active::after {
   bottom: -0.5rem;
}
.coupon-scope {
   margin: 8px 0 0 6%;
}
.coupon-money {
   font-size: 25px;
   line-height: 20px;
}
.service-icon {
   width: 25px;
   height: 25px;
}
.service-text{
   font-size: 14px;
  line-height: 25px;
}
.service-btn {
   width: 56px;
   height: 25px;
   line-height: 25px;
}
.service-code-text{
   font-size: 16px;
}
.service-code-subtext{
   font-size: 14px;
}
.logOutModal {
   display: none;
   width: 379px;
   height: 282px;
   background: #fff;
   box-shadow: 0px 0px 20px 0px rgba(51, 51, 51, 0.26);
   border-radius: 5px;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}
.modalPhotoTip {
   width: 100%;
   height: 213px;
   border-radius: 5px 5px 0px 0px;
   background-color: #eee;
}
.modalPhotoTip img {
   width: 100%;
   height: 100%;
}
.confirmBtnFinal{
   padding: 17px 0 0 76px;
}
.bottomConfirmBtn{
   display: inline-block;
   width: 99px;
   height: 37px;
   background: #F0EFF5;
   border-radius: 5px;
   line-height: 37px;
   text-align: center;
   color: #6A7082;
}
.playMoreBtn{
   background: #0189FF;
   color: #fff;
   margin-left: 40px;
}
.playMoreBtn:hover {
   color: #fff;
}
}

.btn-shezhi{
   font-size: 1rem;
   color: #999;
   line-height: 2.4rem;
   margin: 0 0 0 0.5rem;
}
/* 设置弹窗 */

.shezhiPop .popinfo-con{
   padding: 0.55rem 0.85rem 1rem 0.85rem;
}
.shezhiPop{
   display: block;
   width: 100%;
   height: 100%;
   position: fixed;
   top: 0 !important;
   left: 0 !important;
   background-color: rgba(0, 0, 0,0.3);
   display: none;
   z-index: 99;
   margin-left: 0;
}
.info-listAll{
   /* background-color: pink; */
 height: 19rem;
   width: 100%;
}
.info-listAll a{
   width: 100%;
   height: auto;
   padding: 0.46rem 0 0.46rem 0;
   float: left;
   /* background: plum; */
   border-bottom:  0.03rem solid #DEE2E5;
}

.shezhiPop .popinfo-top{
   margin-bottom: 0rem;
}
 .goto_icon {
   width: 1.95%;
   margin-top: 0.3rem;
   /* margin-right: 2.5%; */
   margin-left: 0.57rem;
   float: right;
margin-top: 0.97rem;
   
}
.s-left{
   font-size: 1.14rem;
font-family: 'PingFang SC';
float: left;
font-weight: bold;
color: #333333;
float: left;
}
.s-right{
   font-size: 1.03rem;
font-family: 'PingFang SC';
font-weight: 500;
color: #666666;
}
.s-line{
width: 100%;
/* background: red; */
height: 2.8rem;
line-height:2.8rem;
}
.s-line2{
   width: 100%;
   font-size: 0.91rem;
font-family: 'PingFang SC';
font-weight: 500;
color: #999999;
line-height: 1.43rem;
margin-bottom: 0.86rem;
}
.redStyle{
   color: #D81E06;
}
.qiehuan-but{
   width: 100%;
height:3rem;
line-height: 3rem;
background: #FFFFFF;
border: 1px solid #018FFE;
border-radius: 0.5rem;
float: left;
margin-top: 0.2rem;


}
.qiehuan-but p{
   text-align: center;
   font-size: 1.14rem;
font-family: 'PingFang SC';
font-weight: 500;
color: #018FFF;
}
.shenhe{
   font-size: 1.03rem;
   color: #FF9C00;
}
.s-fail{
   font-size: 1.03rem;
   color: #D81E06;
}
.y-finish{
   font-size: 1.03rem;
font-family: 'PingFang SC';
font-weight: 500;
color: #333333;
}
.info-listAll a:last-child{
   border-bottom: none;
}

/* 隐藏悬浮球弹窗 */
.xuanfuqiuPop {
   /* display: none; */
   width: 100%;
   height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0,0.3);
   display: none;
   z-index: 99999;
}
.xf-con{
   width: 27.66rem;
   height: 12.74rem;
   background: #FFFFFF;
   border-radius: 1rem;
   position: relative;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   /* margin: -6.37rem 0 0 -13.83rem; */
}
.xf-title{
   font-size: 1.2rem;
font-family: 'PingFang SC';
font-weight: bold;
color: #222222;
line-height: 0.54rem;
text-align: center;
padding: 2.86rem 0 2.11rem 0;
}
.xf-check{
   width: 100%;
   text-align: center;
   margin-bottom: 2.14rem;
}
.xf-check img{
   width: 1.09rem;
   height: 1.09rem;

}
.xf-checked{
   display: none;
   margin-right: 0.37rem;
 
}
.xf-no{
   font-size: 1.09rem;
font-family: 'PingFang SC';
font-weight: 500;
color: #999999;
}
.xf-bottom{
   width: 100%;
   float: left;

   border-top: 0.06rem solid#DEE2E5;
}
.xf-bottom p{
   width: 48%;
   float: left;
  height: 3.37rem;
  line-height: 3.37rem;
   text-align: center;
   font-size: 1.2rem;
font-family: 'PingFang SC';
font-weight: 500;
color: #222222;;
}
.x-zanbu{
   font-weight: bold !important;
   color: #018FFF !important;
}
.x-con{
   border-right: 0.06rem solid#DEE2E5;
}

/* 设置-修改密码 */
.changeMima {
   /* display: none; */
   width: 100%;
   height: 100%;
   position: fixed;
   top: 0;
   left: 0;
   background-color: rgba(0, 0, 0,0.3);
   display: none;
   z-index: 99999;
}
.change-con {
   width: 27.66rem;
   height: 25.71rem;
   background: #FFFFFF;
   box-shadow: 0rem 0rem 1rem 0rem rgba(86, 157, 236, 0.2);
   border-radius: 1rem;
   position: relative;
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);
}
.change-top{
   /* background: pink; */
   float: left;
   width: 100%;
}
.top-title {
   font-size: 1.43rem;
   font-family: 'PingFang SC';
   font-weight: bold;
   color: #222222;
   line-height: 0.54rem;
   text-align: center;
   padding: 1.57rem 0 2.4rem 0;
}
.change-input input{
   width:21.83rem;
   /* height: 3.43rem; */
   background: #F7F7F7;
   border-radius: 0.3rem;
   font-size: 1.26rem;
   font-family: 'PingFang SC';
   font-weight: 500;
   color: #333;
   margin-bottom: 1.14rem;
   padding: 1rem 0.8rem 1rem 0.8rem;
}
.change-input{
   width: 23.43rem;
   margin: 0 auto;
   
   /* background: powderblue; */
}
.but-confirm{
   text-align: center;
   line-height: 3.43rem;
   width: 23.43rem;
height: 3.43rem;
background: #018FFF;
border-radius: 0.3rem;
font-size: 1.37rem;
font-family: 'PingFang SC';
font-weight: 500;
color: #FFFFFF;
}


/* 设置-绑定手机 */
.gobindPhone {
   /* display: none; */
   width: 100%;
   height: 100%;
   position: fixed;
   top: 0;
   left: 0;
   background-color: rgba(0, 0, 0,0.3);
   display: none;
   z-index: 99999;
}
.change-con {
   width: 27.66rem;
   height: 25.71rem;
   background: #FFFFFF;
   box-shadow: 0rem 0rem 1rem 0rem rgba(86, 157, 236, 0.2);
   border-radius: 1rem;
   position: relative;
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);
}
.Phone-input{
   width: 23.43rem;
   margin: 0 auto;
   
   /* background: powderblue; */
}
.Phone-input .phone-num{
    width:21.83rem;
}
.Phone-input input{
  
   /* height: 3.43rem; */
   background: #F7F7F7;
   border-radius: 0.3rem;
   font-size: 1.26rem;
   font-family: 'PingFang SC';
   font-weight: 500;
   color: #333;
   margin-bottom: 1.14rem;
   padding: 1rem 0.8rem 1rem 0.8rem;
}
.Phone-input .yzm{
   width: 13.2rem;
   margin-right: 1.03rem;
   float: left;

}
.y-but-confirm{
   text-align: center;
   line-height: 3.43rem;
   width: 23.43rem;
height: 3.43rem;
background: #018FFF;
border-radius: 0.3rem;
font-size: 1.37rem;
font-family: 'PingFang SC';
font-weight: 500;
color: #FFFFFF;
float: left;
}
.huopqv{
   float: left;
   width: 7.54rem !important;
   height: 3.56rem !important;
   line-height: 3.56rem !important;
}
/* 设置-绑定手机 绑定成功 */
.gobindSucess {
   display: none;
   width: 100%;
   height: 100%;
   position: fixed;
   top: 0;
   left: 0;
   background-color: rgba(0, 0, 0,0.3);
   display: none;
   z-index: 99999;
}
.p-sucess{
   width: 8.11rem;
   height:6rem;
   padding-bottom: 3.49rem;

}
.success-con {
   width: 27.66rem;
   height: 25.71rem;
   background: #FFFFFF;
   box-shadow: 0rem 0rem 1rem 0rem rgba(86, 157, 236, 0.2);
   border-radius: 1rem;
   position: relative;
   top: 50%;
   left: 50%;
   margin: -12.855rem 0 0 -13.83rem;
}
.sccess-center{
   width: 23.43rem;
   margin:0 auto;
   text-align: center;
   padding-top: 3.4rem;

   font-family: 'PingFang SC';
}
.bindSuccess{
   width: 100%;
   text-align: center;
   font-size: 1.43rem;
font-weight: bold;
color: #222222;
line-height: 1.71rem;
padding-bottom: 1.06rem;
}
.b-tishi{
   width: 100%;
   text-align: center;
   font-size: 1.14rem;
   padding-bottom: 1.49rem;
font-weight: 500;
color: #666666;
}

/* 设置-绑定手机 绑定成功 */
.jiebang {
   /* display: none; */
   width: 100%;
   height: 100%;
   position: fixed;
   top: 0;
   left: 0;
   background-color: rgba(0, 0, 0,0.3);
   display: none;
   z-index: 99999;
}

.jiebang-con {
   width: 27.66rem;
   height: 25.71rem;
   background: #FFFFFF;
   box-shadow: 0rem 0rem 1rem 0rem rgba(86, 157, 236, 0.2);
   border-radius: 1rem;
   position: relative;
   top: 50%;
   left: 50%;
   /* margin: -12.855rem 0 0 -13.83rem; */
   
   transform: translate(-50%,-50%);
   font-family: 'PingFang SC';
}
.j-title{
width: 100%;
text-align: center;
font-size: 1.43rem;
font-weight: bold;
color: #222222;
line-height: 1.71rem;
}
.j-title2{
width: 100%;
text-align: left;
font-size: 1.14rem;
font-weight: 500;
color: #666666;
line-height: 1.71rem;
padding:3.09rem 0 1.66rem 0;
}

/* 设置-绑定手机 绑定成功 验证原手机 */
.yanzhengPhone {
   /* display: none; */
   width: 100%;
   height: 100%;
   position: fixed;
   top: 0;
   left: 0;
   background-color: rgba(0, 0, 0,0.3);
   display: none;
   z-index: 99999;
}
.left-back{
   width: 0.69rem;
   height: 1.31rem;
   position: absolute;
   left: 1rem;
   top: 1.1rem;
   z-index: 999;
   cursor: pointer;
}
.stop-use{
   width: 100%;
   float: left;
   margin-top: 5.06rem;
}
.y-bottom{
   text-align: center;
   width: 100%;
   font-size: 1.14rem;
font-family: 'PingFang SC';
font-weight: 500;
color: #999999;
}
.y-bottom span{
   color: #018FFF;
}
/* 设置-绑定手机 绑定成功 绑定新手机 */
.bind-newPhone {
   /* display: none; */
   width: 100%;
   height: 100%;
   position: fixed;
   top: 0;
   left: 0;
   background-color: rgba(0, 0, 0,0.3);
   display: none;
   z-index: 99999;
}