.empty{
    width: 100%;
}
@media screen and (max-width:320px) and (orientation:portrait){
    .fof_img{
        position: absolute;
        top: 32%!important;
    }
}
.fof_img{
    width: 100%;
    position: absolute;
    top: 36%;
}
.fof_img img{
    width: 50%;
    margin-left: 25%;
}
.fof_text{
    width: 100%;
    text-align: center;
    top: 52%;
    font-size: 13px;
    color:rgba(153,153,153,1);
    margin-top: 1.4rem;
}
.agin_try{
    border: 1px solid rgba(1, 143, 255, 1);
    border-radius: 5px;
    text-align: center;
    font-size: 12px;
    width: 15%;
    color: rgba(1, 143, 255, 1);
    height: 1.5rem;
    position: relative;
    left: 42%;
    top: 1rem;
}
.agin_try p{
    line-height: 1.5rem;
}