*{padding:0;margin:0;}
/* 禁用iPhone中Safari的字号自动调整 */
html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    padding: 0; margin: 0;
}
html,body{ height:100%;
    background-color: #f0efed;}
/* 去除iPhone中默认的input样式 */
input{/* -webkit-appearance:none; */ resize: none;outline: none;}
/* 取消链接高亮  */
body,div,ul,li,ol,h1,h2,h3,h4,h5,h6,input,textarea,select,p,dl,dt,dd,a,img,button,form,table,th,tr,td,tbody,article,
aside, details,figcaption,figure,footer,header,hgroup, menu,nav,section{ -webkit-tap-highlight-color:rgba(0, 0, 0, 0);
    font-family:  Helvetica, Tahoma, Arial, "Microsoft YaHei", "微软雅黑", SimSun, "宋体", STXihei, "华文细黑", Heiti, "黑体", sans-serif;
    box-sizing: border-box;
}
/* 设置HTML5元素为块 */
article, aside, details,figcaption,figure,footer,header,hgroup, menu,nav,section {
    display: block;
}
/* 图片自适应 */
img {
    max-width: 100%;
    height: auto;
    display: block;
    width:auto\9; /* ie8 */
    -ms-interpolation-mode:bicubic;/*为了照顾ie图片缩放失真*/
}
*:focus {
    outline:none;
}
a:active, a:visited {
    text-decoration: none;
}
/* 清零 */
body,div,ul,li,ol,h1,h2,h3,h4,h5,h6,input,textarea,select,p,dl,dt,dd,a,img,button,form,table,th,tr,td,tbody,article,
aside, details,figcaption,figure,footer,header,hgroup, menu,nav,section{margin:0; padding:0; border:none;}
body{font-family:Helvetica, Tahoma, Arial, "Microsoft YaHei", "微软雅黑", SimSun, "宋体", STXihei, "华文细黑", Heiti, "黑体", sans-serif; color:#555; }
em,i{font-style:normal;}
strong{font-weight: normal;}
.clearfix:after{content:""; display:block; visibility:hidden; height:0; clear:both;}
.clearfix{zoom:1;}
a{text-decoration:none; color:#969696; font-family:Helvetica, Tahoma, Arial, "Microsoft YaHei", "微软雅黑", SimSun, "宋体", STXihei, "华文细黑", Heiti, "黑体", sans-serif;}
a:hover{ text-decoration:none;}
ul,ol,li{list-style:none;}
h1, h2, h3, h4, h5, h6{ font-size:100%; font-family:Helvetica, Tahoma, Arial, "Microsoft YaHei", "微软雅黑", SimSun, "宋体", STXihei, "华文细黑", Heiti, "黑体", sans-serif;}
fieldset,img{border: none;}
table {
    border-collapse:collapse;
    border-spacing:0;
}
caption, th {
    text-align:left;
}

s, i, em {
    font-style: normal;
    text-decoration: none;
}

img {
    border: 0;
    vertical-align: middle; /*  去掉图片底部默认的3像素空白缝隙*/
    margin: 0;
    padding: 0;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #999;
    font-size: 0.4rem;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #999;
    font-size: 0.4rem;
}

input:-ms-input-placeholder{
    color: #999;
    font-size: 0.4rem;
}

input::-webkit-input-placeholder{
    color: #999;
    font-size: 0.4rem;
}

select, input {
    vertical-align: middle;
}

/*输入字居中显示*/
select, input, textarea {
    font-size: 12px;
    margin: 0;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.al {
    text-align: left;
}

.ac {
    text-align: center;
}

.ar {
    text-align: right;
}

.hide {
    display: none;
}
a{
    text-underline: none !important;
}
a.aHover{
    color: #fe8910;
}
/*a.aHover:hover{*/
    /*color: #fe8910;*/
    /*text-decoration: underline;*/
/*}*/

.clear {
    clear: both;
    height: 0;
    font-size: 0;
    line-height: 0;
    visibility: hidden;
    overflow: hidden;
}

.clearfix:after{
    content: '';
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
}

.clearfix{
    zoom: 1;
}

input[type="checkbox"] {
    -webkit-appearance: none;
    outline: none;
}




