@charset "utf-8";
html,body{
    color: #333333;
    width: 100%;
    height: 100vh!important;
    background: #F4F4F4;
}
p{
    margin: 0;
}
footer{
    display: none!important;
}
.profit-exchange-container, .my-profit-container {
    height: auto!important;
}

.profit-exchange-content {
    height: 100%;
    overflow: hidden;
    overflow-y: auto;
}
/* 设置页面 */
.page-container {
    background-color: #fff;
    padding-bottom: 0!important;
}
.setTitle {
    font-size: 0.44rem!important;
    font-family: 'PingFang SC';
    font-weight: 500;
    color: #333333!important;
}
.page-content {
    border-top: 0.2rem solid #F4F4F4;
    border-bottom: 0.2rem solid #F4F4F4;
}
.siteItem {
    width: 100%;
    height: 1.3rem;
    border-bottom: 1px solid #E8E8E8;
    padding-left: 0.3rem;
    line-height: 1.3rem;
    color: #333333;
    font-size: 0.42rem;
}
.accountSet {
    text-align: center;
}
.siteItem:last-child {
    border-bottom: none
}
.iconJianTou {
    float: right;
    padding-right: 0.5rem;
}
.iconJianTou img {
    width: 40%;
}
.logOutButton {
    height: 1.5rem;
    text-align: center;
    line-height: 1.5rem;
    font-family: 'PingFang SC';
    font-weight: 500;
    color: #26C7DB;
    font-size: 0.42rem;
}
.outBtnText {
    color: #26C7DB!important;
}
.h-middle {
    justify-content: space-around!important;
}
.tabSwitch {
    width: 100%;
    height: 1rem;
    border-bottom: 1px solid #E8E8E8;
}
.header-title {
    font-size: 0.4rem;
    color: #666666;
}
.header-title.active {
    color:#26C7DB ;
	font-weight:bold;
    font-size: 0.4rem;
    position: relative;
}
.header-title.active:after{
    position: absolute;
    bottom: -0.27rem;
    left: 15%;
    width: 70%;
    height: 0.08rem;
    background: #26C7DB;
    content: '';
}
.req {
    color: red;
}
.accountNumber {
    padding-left: 0.1rem;
}
.tabpan-input{
    border: 1px solid #E6E4E4;
    border-radius: 0.1rem!important;
    height: 0.7rem;
    width: 66%;
}
.explain{
    background-color: rgba(182, 182, 182, .15);
    height: 0.79rem;
    width: 100%;
    font-family: PingFang SC;
    font-weight: 500;
    color: #666666;
    font-size: 0.34rem;
    line-height: 0.79rem;
    padding-left: 0.3rem;
}
.bankSelection {
    line-height: 0.8rem;
    width: 100%;
    border: 1px solid #ccc;
    height: 0.8rem;
}
.payButton {
    margin-left: 2.3rem!important;
}
.payInfoTitle{
    width: 2.3rem!important;
}
.inputInfo {
    width: 65%!important;
}
.select2-container,
.select2-container--default, 
.select2-container--below {
    width: 66%;
    padding-left: 0.2rem;
}
.select2-dropdown.select2-dropdown--below {
    width: 71%!important;
    left: 2.6rem!important;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    right: -0.1rem!important;
}
.search-item.col-5 {
    width: 23%;
}
.search-item.col-4 {
    width: 19%!important;
}

/* 修改密码 */
.psdItem {
    margin-top: 0.5rem;
}
.psdInput {
    height: 0.9rem;
    font-size: 0.4rem;
    color: #000000;
    position: relative;
}
.psdContent {
    border: none;
}
.confirmButtton {
    width: 90%!important;
    margin-left: 0!important;
}
.clearIcon {
    width: 0.3rem;
    height: 0.3rem;
    position: absolute;
    right: 1.3rem;
    top: 0.32rem;
    background-image: url('../images/login/login_ico_guanbi.png');
    background-size: 100% 100%;
    display: none;
}

/* 渠道列表 */
.listIcon {
    display: flex;
    flex-wrap: wrap;
    margin: 0.5rem;
}
.iocnItem {
    width: 25%;
    text-align: center;
    margin-bottom: 0.46rem;
}
.iconPicture {
    width: 1.3rem;
    height: 1.3rem;
    margin: auto;
    padding-bottom: 0.27rem;
}
.iconPicture img {
    width: 100%;
    height: 100%;
}
.listInfo {
    font-family: 'PingFang SC';
    font-weight: 500;
    color: #333333;
    font-size: 0.36rem;
}

.form .form-item{
    width: 100%;
    height: 0.9rem;
    margin-top: 0.37rem;
    /*border-bottom: 0.0267rem solid #EDEEEF;*/
    display: flex;
    align-items: center;
    position: relative;
    padding-left: 0.4rem;

}
.form-item .form-item-title{
    width: 2.5rem;
    height: 100%;
    font-size: 0.4rem;
    color: #666;
    line-height: 1rem;

}
.form-item .form-item-text{
    width:calc(100% - 2.1333rem) ;
    height: 100%;
    box-sizing: border-box;
    font-size: 0.34666rem;
    line-height: 1rem;
    position: relative;
}
.form-item .form-item-input {
    width: 100%;
    border: 0.0267rem solid #E0E0E0;
    outline: none;
    height: 100%;
    padding-left: 0.2rem;
    box-sizing: border-box;
    border-radius: 3px;
    font-size: 0.373rem;
    box-shadow: none;
    -webkit-appearance: none;
}
.form-item  .form-item-input:read-only{
    border: none;
    padding-left: 0;
	color:#666;
}
.form-item .form-item-input::-webkit-input-placeholder{
	color:#C0C0C4;
}
.form-item .form-item-input::-webkit-input-placeholder{
	color:#C0C0C4;
}
.form-item .form-item-input::-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:#C0C0C4;
}
.form-item .form-item-input::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:#C0C0C4;
}
.form-item .form-item-input::-ms-input-placeholder { /* Internet Explorer 10+ */
    color:#C0C0C4;
}
.form-item-tips{
    color: #999999;
    font-size: 0.32rem;
    position: absolute;
    bottom: -0.6rem;
    left: 0;
    line-height: 1.2;
}
.form-item .submit-btn{
    font-size: 0.4rem;
    color: #fff;
    background: #26c7db;
    border-radius: 0.08rem;
    width: 2.2rem;
    height: 0.9rem;
    line-height: 0.9rem;
    text-align: center;
    border: none;
    margin-left: 2.5rem;
}
.removeText {
    color:#999999;
    padding-left: 0.2rem;
}
.newRemoveText {
    color:#999999;
    padding-left: 0.5rem;
}
.notice-tip {
    color:#999999;
    margin-left: 0.2rem;
}
.checkStep {
    margin-top: 0.2rem;
    margin-left: 2.67rem;
}
.clickCheck {
    color: #26C7DB!important;
}
.newForm-item {
    font-size: 0.4rem;
    margin: 0.2rem 0 0.2rem 0.35rem;
    color: #666;
}
.itemInput {
    margin-top: 0.2rem;
    width: 95%;
}
.radioChoose {
    margin-right: 0.5rem;
}
.confirmEnd {
    margin-left: 2.6rem!important;
}

.radioItem {
    position: relative;
}
.radioItem img {
    width: 0.42rem;
}
.radioItem input[type="radio"] {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    visibility: hidden;
    z-index: 100;
}

.radioItemIcon {
    width: 0.4rem;
    height: 0.4rem;
    display: inline-block;
    background: url('../../../channelwappublic/assets/images/common/order_pay_btn_choose_s.png') no-repeat;
    background-size: 100% 100%;
    margin-left: 0.1rem;
    vertical-align: bottom;
    margin-right: 0.1rem;
}
.radioItem input[type="radio"]:checked+.radioItemIcon {
    background-image: url('../../../channelwappublic/assets/images/common/order_pay_btn_choose.png');
}