<!doctype html>
<html>
<head>
<include file="public/head" />
</head>
<body>
	<div class="wrap">
		<include file="public/header" />
		<div class="section">
			<div class="main">
				<pre class="agreement">本产品需解析并绑定域名(安装后访问请通过域名访问首页)
如果您安装、复制或以其它方式使用了本软件产品，则视为您已同意下列条款，并已和江苏溪谷网络科技有限公司（以下简称“溪谷软件”）签定了本《软件许可协议》（以下简称“协议”）如您不同意本协议中的条款，请不要安装软件。如果您通过合法渠道从溪谷软件取得本软件的任何拷贝，则您拥有如下权利
1、说明 
如果您已经获得授权版，可以获得二次开发和完全使用权利，如果您想商业运营，请联系我们购买授权。
2、版本升级 
根据实际需要，您有权获得授权版升级版本的使用权。但如果溪谷软件另有要求，您须支付适当的版本升级费用。
3、使用权 
对本软件的使用权范围仅限于您本身。未经溪谷软件书面允许，您无权以转让、许可、出租、租赁、出借、赠与或其它任何方式向任何第三方提供本软件或其复制件或其中任何部分，无论这种提供是否出于商业目的。
4、声明 
对于本软件，溪谷软件保证不含有任何恶意破坏您的计算机资源（包括文档、程序和其他数据）的功能设置。对于您在使用此软件过程中而产生的利润损失、可用性消失、商业中断，或任何形式的间接、特别、意外或必然的破坏，或任何其他方的索赔，溪谷软件及其代理、销售人概不负责，即使溪谷软件已事先被告知此类事有可能发生。
5、知识产权和保密 
本软件的版权和可能涉及的溪谷软件的商标权、专利权、专有技术和其他权利，其所有权归溪谷软件。您对其中出现的权利标识应妥善保留，不能擅自进行删剪或修改。您拥有授权范围内的使用权，但没有转让或许可他人使用的权利。对于涉及溪谷软件技术秘密的内容，您还负有保密的义务。
6、其他 
本软件许可协议的未尽事宜，由双方其它协议或另行协商约定。本软件许可协议适用中华人民共和国有关法律。以上资料只用于建立我们的客户服务系统，以使我们能够更好的为您提供技术支持和售后服务。
Copyright © 2012-{:date('Y')}. 江苏溪谷网络科技有限公司保留所有权利。</pre>
			</div>
			<div class="bottom text-center">
				<a href="__ROOT__/?s=install/index/step2" class="btn btn-primary">{:lang('ACCEPT')}</a>
			</div>
		</div>
	</div>
	<include file="public/footer" />
</body>
</html>